

@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap");
* {
  outline: none;
  box-sizing: border-box;
  margin:0;
  
}

:root {
  --body-bg-color: #e5ecef;
  --theme-bg-color: #fafafb;
  --body-font: "Poppins", sans-serif;
  --body-color: #2f2f33;
  --active-color: #272735;
  --active-light-color: #e1ebfb;
  --header-bg-color: #fff;
  --search-border-color: #efefef;
  --border-color: #d8d8d8;
  --alert-bg-color: #ffffff;
  --subtitle-color: #83838e;
  --inactive-color: #f0f0f0;
  --placeholder-color: #9b9ba5;
  --time-button: #fc5757;
  --level-button: #5052d5;
  --button-color: #fff;
  --hue: 240;
  --first-color: hsl(var(--hue), 16%, 18%);
  --first-color-alt: hsl(var(--hue), 16%, 12%);
  --title-color: hsl(var(--hue), 8%, 15%);
  --text-color: hsl(var(--hue), 8%, 35%);
  --container-color: #fff;
  /*========== Font and typography ==========*/
  --big-font-size: 1.5rem;
  --normal-font-size: 0.938rem;
  /*========== z index ==========*/
  --z-modal: 1000;
   
}

html, body{

margin: 0;
  height: 100%;
  overflow: hidden;
  
}
  


@media screen and (min-width: 968px) {
  :root {
    --big-font-size: 1.75rem;
    --normal-font-size: 1rem;

    
  }
}
::-moz-placeholder {
  color: var(--placeholder-color);
}
:-ms-input-placeholder {
  color: var(--placeholder-color);
}
::placeholder {
  color: var(--placeholder-color);
}

img {
  max-width: 100%;
  height: auto;
}

html {
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
}

body {
  background-color: var(--body-bg-color);
  font-family: var(--body-font);
  font-size: 15px;
}

body a {
  text-decoration:none;
}



button {
  font-family: var(--body-font);
  font-size: var(--normal-font-size);
  cursor: pointer;
  border: none;
  outline: none;
}

.search.item {
  color: var(--body-color);
  border-color: var(--body-color);
}

.search-location svg,
.search-job svg,
.search-salary svg {
  color: var(--body-color);
}

.detail-button {
  background-color: var(--inactive-color);
  color: var(--subtitle-color);
}

.job {
  display: flex;
  flex-direction: column;
  max-width: 1600px;
  height: 100vh;
  margin: 0 auto;
  overflow: hidden;
  background-color: var(--theme-bg-color);
}

.logo {
  display: flex;
  align-items: center;
  font-weight: 600;
  font-size: 18px;
  cursor: pointer;
}


#title {
  width: 100%;
  padding: 10px;
 
}

#title .parent {
  line-height: 0.5em;
  color: #666;
  
}

#title .name {
  font-size: 1em;
  font-weight: bold;
  color: #000;
}

.header {
  display: flex;
  align-items: center;
  transition: box-shadow 0.3s;
  flex-shrink: 0;
  padding: 0 40px;
  white-space: nowrap;
  background-color: var(--header-bg-color);
  height: 60px;
  width: 100%;
  font-size: 14px;
  justify-content: space-between;
  z-index: 1000;
}
.header-menu a {
  text-decoration: none;
  color: var(--body-color);
  font-weight: 500;
}
.header-menu a:hover {
  color: var(--active-color);
}
.header-menu a:not(:first-child) {
  margin-left: 30px;
}
.header-menu a.active {
  color: var(--active-color);
}

.header-shadow {
  box-shadow: 0 4px 20px rgba(88, 99, 148, 0.17);
  z-index: 1;
}

.user-settings {
  display: flex;
  align-items: center;
  font-weight: 500;
}
.user-settings i {
  font-size: 1.2rem;
  color: black;
  padding: 0.2rem;
}

.user-menu {
  position: relative;
  margin-right: 8px;
  padding-right: 8px;
  border-right: 2px solid #d6d6db;
}
.user-menu:before {
  position: absolute;
  content: "";
  width: 7px;
  height: 7px;
  border-radius: 50%;
  border: 2px solid var(--header-bg-color);
  right: 6px;
  top: -1px;
  background-color: var(--active-color);
}

.user-profile {
  width: 32px;
  height: 32px;
  border-radius: 50%;
  -o-object-fit: cover;
     object-fit: cover;
  margin-right: 10px;
}

.wrapper {
  width: 100%;
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  scroll-behavior: smooth;
  padding: 30px 40px;
  overflow: auto;
}

.main-container {
  display: flex;
  flex-grow: 1;
  scroll-behavior: smooth;
  padding-top: 30px;
  max-width:1300px;
}

.search-type {
  width: 270px;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}


.alert {
  background-color: var(--alert-bg-color);
  padding: 24px 18px;
  border-radius: 8px;
}
.alert-title {
  font-size: 14px;
  font-weight: 500;
  margin-bottom: 8px;
  color: black;
}
.alert-subtitle {
  font-size: 13px;
  color: var(--subtitle-color);
  line-height: 1.6em;
  margin-bottom: 20px;
}
.alert input {
  width: 100%;
  padding: 10px;
  display: block;
  border-radius: 6px;
  background-color: var(--header-bg-color);
  border: none;
  font-size: 13px;
}

.search-buttons {
  border: none;
  color: var(--button-color);
  background-color: var(--active-color);
  padding: 8px 10px;
  border-radius: 6px;
  font-size: 13px;
  font-weight: 600;
  margin-top: 14px;
}

.job-wrapper {
  padding-top: 20px;
}

.job-time {
  padding-top: 20px;
}
.job-time-title {
  font-size: 14px;
  font-weight: 500;
}

.type-container {
  display: flex;
  align-items: center;
  color: var(--subtitle-color);
  font-size: 13px;
}
.type-container label {
  margin-left: 2px;
  display: flex;
  align-items: center;
  cursor: pointer;
}
.type-container + .type-container {
  margin-top: 10px;
}

.job-number {
  margin-left: auto;
  background-color: var(--inactive-color);
  color: var(--subtitle-color);
  font-size: 10px;
  font-weight: 500;
  padding: 5px;
  border-radius: 4px;
}

.job-style {
  display: none;
}

.job-style + label:before {
  content: "";
  margin-right: 10px;
  width: 16px;
  height: 16px;
  border: 1px solid var(--subtitle-color);
  border-radius: 4px;
  cursor: pointer;
}

#type {
  background-color: var(--active-light-color);
  color: var(--active-color);
}

.bg-type {
  color: var(--active-color);
}

@media screen and (max-width: 380px) {
  .wrapper {
    padding: 20px;
  }

  .header {
    padding: 0 20px;
  }
}
main,
#folders {
  width: calc(100%);
  margin: 0 3rem;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  grid-gap: 1.5rem;
  padding-left: 0;
}

main{
  position:relative;
}

main > figure {
  width: 100%;
  margin: 0;
  background-color: #fff;
  background-size: cover;
  transition: all 100ms ease-out;
}

main > figure:hover {
  box-shadow: 0 16px 16px -4px rgba(0, 0, 0, 0.3);
  transform: scale(1.02);
}

main > figure:after {
  content: "";
  padding-bottom: 100%;
  display: block;
}

main > figure > figcaption {
  margin: 1rem;
  color: #fff;
  font-size: 1.25em;
  position: absolute;
}

@media screen and (max-width: 730px) {
  main,
#folders {
    width: calc(100%);
    margin: 0 1rem;
  }

  .search-type {
    display: none;
  }

  .searched-jobs {
    padding-left: 0;
  }

  .search-menu div:not(:last-of-type) {
    border: 0;
  }

  main > figure {
    grid-template-columns: repeat(2, 1fr);
  }

  .search-location {
    display: none;
  }
}
@media screen and (max-width: 620px) {
  main > figure {
    grid-template-columns: repeat(1, 1fr);
  }

  .header-menu a:not(:first-child) {
    margin-left: 10px;
  }
}
/*=============== MODAL ===============*/
.container {
  margin-left: 1rem;
  margin-right: 1rem;
}

.modal {
  height: 100vh;
  display: grid;
  place-items: center;
}

.modal__button {
  display: inline-block;
  background-color: var(--first-color);
  color: #fff;
  padding: 1rem 1.25rem;
  border-radius: 0.5rem;
  transition: 0.3s;
}

.modal__button:hover {
  background-color: var(--first-color-alt);
}


.modal__container {
  position: absolute;
  top: 0;
  left: 0;
  background-color: hsla(var(--hue), 18%, 93%, 0.6);
backdrop-filter: blur(4.0px);
-webkit-backdrop-filter: blur(4.5px);
  width: 100%;
  height: 100%;
  display: grid;
  align-items: flex-end;
  overflow: hidden;
  transition: all 0.3s;
  z-index: var(--z-modal);
  visibility: hidden;
  opacity: 0;
}
  /*=== Effect 3 ===*/
  /* perspective: 1000px; */


.modal__content {
  position: relative;
  background-color: var(--container-color);
  text-align: center;
  padding: 3rem 2rem 2rem;
  border-radius: 1rem 1rem 0 0;
  transition: all 0.3s;
  /*=== Effect 1 ===*/
  transform: translateY(10%);
  /*=== Effect 2 ===*/
  /* transform: scale(.5) translateY(10%); */
  /*=== Effect 3 ===*/
  /* transform: rotateX(65deg) scale(.75) translateY(10%);
   transform-origin: 50% 100%; */
}

.modal__img {
  width: 250px;
  position:relative;
  top:-1.5rem;
margin-bottom:0.75rem;

}



.modal__close {
  display: inline-flex;
  background-color: var(--first-color);
  border-radius: 0.25rem;
  color: #fff;
  font-size: 1.5rem;
  position: absolute;
  top: 2rem;
  right: 2rem;
  cursor: pointer;
  z-index:6;
}

.modal__title {
  font-size: var(--big-font-size);
  color: var(--title-color);
  font-weight: 500;
}

.bg-button {
  width: 100%;
  position:absolute;
  bottom:-85px;
}

#label{
  font-weight:bold;
}

.modal__container{
  position:fixed;
  bottom:0;
}

.modal__button-width {
  width: 250px;
}

.modal__button-link {
  display: block;
  margin: 1rem auto 0;
  background-color: transparent;
  color: var(--first-color);
  font-weight: 500;
}

/* Show modal */
.show-modal {
  visibility: visible;
  opacity: 1;
}

.show-modal .modal__content {
  /*=== Effect 1 ===*/
  transform: translateY(0);
  /*=== Effect 2 ===*/
  /* transform: scale(1) translateY(0); */
  /*=== Effect 3 ===*/
  /* transform: rotateX(0) scale(1) translateY(0); */
}

/*=============== BREAKPOINTS ===============*/
/* For small devices */
@media screen and (min-width: 576px) {
  .modal__content {
    margin:auto;
    width: 500px;
    border-radius: 1.25rem;
  }

  .modal__img {
    width: 350px;
  }


}
#carbonads {
  display: flex;
  justify-content: space-between;
  padding: 20px 20px;
  border-radius: 16px;
  box-shadow: 0 0 0 1.3px #eee;
  background-color: white;
}

#carbonads a {
  color: inherit;
  text-decoration: none;
}

#carbonads span {
  position: relative;
  display: block;
  overflow: hidden;
}

#carbonads .carbon-wrap {
  display: flex;
}

#carbonads .carbon-img img {
  display: block;
  width: 100px;
  border-radius: 8px;
}

#carbonads .carbon-text {
  margin-top: 0px;
  margin-left: 25px;
  font-size: 0.7rem;
  line-height: 1.5;
  text-align: left;
}

#carbonads .carbon-poweredby {
  display: block;
  padding: 0px 15px;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 0.5px;
  font-weight: 600;
  font-size: 7px;
  line-height: 1;
  bordereferencer-top-left-radius: 3px;
  position: absolute;
  bottom: 0;
  right: 0;
  color: #999;
}

.four_zero_four_bg{
 
  width:100%;
  height:auto;

 }

.texty{
  width:auto;
  height:100%;
  border-radius:25px;
  background-color:#fafafb;
  padding:30px;
  display: flex;
  flex-direction:column;
  align-items: center;
  text-align:center;
  margin-top: -105px;
  z-index: 0;

}

page_404 {
 margin-top: 0px;
}

.button-width {
  width:100%;
  margin-top:45px;
}


/*content*/

article {
 width: 100%;
 padding:50px;
}
.main-article {
 width: 100%;
 margin-top: 150px;
 padding-bottom: 50px;
 line-height: 1.75;
}
.main-article h1 {
 margin-top: 60px;
 margin-bottom: 20px;
 font-size: 2em;
}
.main-article h2 {
 margin-top: 60px;
 margin-bottom: 20px;
 font-size: 1.5em;
}
.main-article h4 {
 margin-top: 60px;
 margin-bottom: 20px;
 font-size: 1.25em;
}
.main-article p {
 margin-bottom: 20px;
 color: #777;
 font-size: 1.125em;
}

@media screen and (max-width: 768px) {
 article header  {
   word-break: break-all;
   }
 }



@media screen and (max-width: 425px) {
 article {
  padding: 12px;
 }
}

.iframe-head {
  position: absolute;
  left:0;
  right:0;
  width:100%;
  display: block;
  top:1.45rem;
  height:3.5rem;
  z-index:5;
  background-color:white;
  padding:30px;
  color:white;
}


@media screen and (max-width: 600px){
  #header { 
    position: fixed; 
    top: 0; 
    left: 0; 
    right: 0; 
    z-index: 1; 
  }
main{
  position: relative;
  top:45px;
}
  
}

#video-id { width:100%;
height:auto;
           background-color:white;
}